header{
  background-color: beige;
  background-size: 100px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.7);
}

#icon{
  position: relative;
  left: 5%;
}

#home{
  background-color: rgb(0, 0, 0, 0);
  border: 2px solid rgba(0, 0, 0, 0);
  font-size: 15px;
  width: 100px;
}

#concept{
  background-color: rgb(0, 0, 0, 0);
  border: 2px solid rgba(0, 0, 0, 0);
  font-size: 15px;
  width: 100px;

}

#charge{
  background-color: rgb(0, 0, 0, 0);
  border: 2px solid rgba(0, 0, 0, 0);
  font-size: 15px;
  width: 100px;

}

#flow{
  background-color: rgb(0, 0, 0, 0);
  border: 2px solid rgba(0, 0, 0, 0);
  font-size: 15px;
  width: 100px;

}

#lecturers{
  background-color: rgb(0, 0, 0, 0);
  border: 2px solid rgba(0, 0, 0, 0);
  font-size: 15px;
  width: 100px;

}

#feature{
  background-color: rgb(0, 0, 0, 0);
  border: 2px solid rgba(0, 0, 0, 0);
  font-size: 15px;
  width: 100px;

}

#access{
  background-color: rgb(0, 0, 0, 0);
  border: 2px solid rgba(0, 0, 0, 0);
  font-size: 15px;
  width: 100px;

}

#blog{
  background-color: rgb(0, 0, 0, 0);
  border: 2px solid rgba(0, 0, 0, 0);
  font-size: 15px;
  width: 100px;

}

section0{
  position: relative;
  left: 45px;
  top: -20px
}

@import "https://use.fontawesome.com/releases/v5.13.0/css/all.css";

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
}

.btn,
a.btn,
button.btn {
  font-size: 25px;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}

a.btn-c {
  font-size: 1.8rem;

  position: relative;

  padding: 2rem 4rem 2rem 2rem;

  -webkit-transition: all 0.3s;

  transition: all 0.3s;

  color: #fff;
  border-radius: 100vh;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#de5d32),
    to(#78bdc4)
  );
  background-image: -webkit-linear-gradient(left, #de5d32 0%, #78bdc4 100%);
  background-image: linear-gradient(to right, #de5d32 0%, #78bdc4 100%);
  -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

a.btn-c:before {
  font-family: "Font Awesome 5 Free";
  font-size: 1.6rem;
  line-height: 1;

  position: absolute;
  top: calc(50% - 0.8rem);
  right: 1rem;

  margin: 0;
  padding: 0;

  content: "\f30b";
}

a.btn-c:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);

  color: #fff;
}

a{
  font-size: 246px;
}

footer{
  background-color: beige;
  background-size: 100px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.7);
  position: relative;
  top: 30px;
}

.text1{
  font-size: 35px;
  position: relative;
  left: 24%;
  width: 640px;
}

.text1-1{
  position: relative;
  left: 47%;
  width: 200px;
}

.text1-2{
  font-size: medium;
  position: relative;
  left: 5%;
  width: 1150px;
}

.section2{
  background-color: #de5d32;
  height: 100vh;
}

.circle1{
  position: relative;
  top: 30px;
  left: 5%;
  width: 70px;
  height: 70px;
  background-color: #3498db;
  border-radius: 50%;
}

.overlay-text1{
  color: #fff;
  position: relative;
  top: 25px;
  left: 25px;
}

.text2{
  color: #fff;
  position: relative;
  left: 12%;
  top: -40px;
  font-size: x-large;
  width: 600px;
}

.denwa{
  position: relative;
  left: 5%;
}

.text2-1{
  color: #fff;
  font-size: medium;
  position: relative;
  left: 50%;
  top: -300px;
  width: 600px;
}


.section3{
  background-color: #78bdc4;
  height: 100vh;
}

.circle2{
  position: relative;
  top: 30px;
  left: 5%;
  width: 70px;
  height: 70px;
  background-color: #de5d32;
  border-radius: 50%;
}

.overlay-text2{
  color: #fff;
  position: relative;
  top: 25px;
  left: 25px;
}

.text3{
  color: #fff;
  position: relative;
  left: 12%;
  top: -40px;
  font-size: x-large;
  width: 600px;
}

.mendan{
  position: relative;
  left: 5%;
}

.text3-1{
  color: #fff;
  font-size: medium;
  position: relative;
  left: 50%;
  top: -300px;
  width: 600px;
}

.section4{
  background-color: #de5d32;
  height: 100vh;
}

.circle3{
  position: relative;
  top: 30px;
  left: 5%;
  width: 70px;
  height: 70px;
  background-color: #78bdc4;
  border-radius: 50%;
}

.overlay-text3{
  color: #fff;
  position: relative;
  top: 25px;
  left: 25px;
}

.text4{
  color: #fff;
  position: relative;
  left: 12%;
  top: -40px;
  font-size: x-large;
  width: 600px;
}

.taikenn{
  position: relative;
  left: 5%;
}

.text4-1{
  color: #fff;
  font-size: medium;
  position: relative;
  left: 50%;
  top: -300px;
  width: 600px;
}


.section5{
  background-color: #78bdc4;
  height: 100vh;
}

.circle4{
  position: relative;
  top: 30px;
  left: 5%;
  width: 70px;
  height: 70px;
  background-color: #de5d32;
  border-radius: 50%;
}

.overlay-text4{
  color: #fff;
  position: relative;
  top: 25px;
  left: 25px;
}

.text5{
  color: #fff;
  position: relative;
  left: 12%;
  top: -40px;
  font-size: x-large;
  width: 600px;
}

.nyuujuku{
  position: relative;
  left: 5%;
}

.text5-1{
  color: #fff;
  font-size: medium;
  position: relative;
  left: 50%;
  top: -300px;
  width: 600px;
}