/*! 正規化.css v8.0.1 | MITライセンス | github.com/necolas/normalize.css */

/* 書類
   ================================================= ======================== */

/**
 ※1. すべてのブラウザで行の高さを修正しました。
 * 2. iOS で方向変更後のフォント サイズの調整を禁止します。
 */

 html {
  行の高さ: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* セクション
   ================================================= ======================== */

/**
 ※全てのブラウザでマージンを削除してください。
 */

体 {
  マージン: 0;
}

/**
 * IE で一貫して「main」要素をレンダリングします。
 */

主要 {
  表示ブロック;
}

/**
 * `section`内の`h1`要素のフォントサイズとマージンを修正し、
 * Chrome、Firefox、Safari の「article」コンテキスト。
 */

h1 {
  フォントサイズ: 2em;
  マージン: 0.67em 0;
}

/* コンテンツをグループ化する
   ================================================= ======================== */

/**
 * 1. Firefox に正しいボックス サイズを追加します。
 ※2.EdgeとIEでオーバーフローを表示します。
 */

時間 {
  ボックスのサイズ設定: コンテンツボックス; /* 1 */
  高さ: 0; /* 1 */
  オーバーフロー: 表示; /* 2 */
}

/**
 ※1.全ブラウザでのフォントサイズの継承とスケーリングを修正。
 * 2. すべてのブラウザで奇数の `em` フォント サイズを修正します。
 */

前 {
  フォントファミリー: 等幅、等幅; /* 1 */
  フォントサイズ: 1em; /* 2 */
}

/* テキストレベルのセマンティクス
   ================================================= ======================== */

/**
 * IE 10 でアクティブなリンクの灰色の背景を削除します。
 */

{
  背景色: 透明;
}

/**
 * 1. Chrome 57で下の境界線を削除します-
 * 2. Chrome、Edge、IE、Opera、Safari で正しいテキスト装飾を追加します。
 */

略語[タイトル] {
  ボーダーボトム: なし。/* 1 */
  テキスト装飾: 下線; /* 2 */
  テキスト装飾: 点線の下線。/* 2 */
}

/**
 * Chrome、Edge、Safari に正しいフォントの太さを追加します。
 */

b、
強い {
  フォントの太さ: 太字;
}

/**
 ※1.全ブラウザでのフォントサイズの継承とスケーリングを修正。
 * 2. すべてのブラウザで奇数の `em` フォント サイズを修正します。
 */

コード、
kbd、
サンプル {
  フォントファミリー: 等幅、等幅; /* 1 */
  フォントサイズ: 1em; /* 2 */
}

/**
 * すべてのブラウザに正しいフォント サイズを追加します。
 */

小さい {
  フォントサイズ: 80%;
}

/**
 * `sub` 要素と `sup` 要素が行の高さに影響を与えないようにする
 * すべてのブラウザ。
 */

サブ、
すする {
  フォントサイズ: 75%;
  行の高さ: 0;
  位置: 相対的;
  垂直整列: ベースライン;
}

サブ {
  下: -0.25em;
}

すする {
  上: -0.5em;
}

/* 埋め込みコンテンツ
   ================================================= ======================== */

/**
 * IE 10 でリンク内の画像の境界線を削除します。
 */

画像 {
  境界線のスタイル: なし。
}

/* フォーム
   ================================================= ======================== */

/**
 ※1. すべてのブラウザでフォントスタイルを変更します。
 ※2. Firefox、Safariでは余白を削除してください。
 */

ボタン、
入力、
オプトグループ、
選択する、
テキストエリア {
  フォントファミリー: 継承; /* 1 */
  フォントサイズ: 100%; /* 1 */
  行の高さ: 1.15; /* 1 */
  マージン: 0; /* 2 */
}

/**
 ※IEでオーバーフローを表示します。
 ※1.Edgeでオーバーフローを表示します。
 */

ボタン、
input { /* 1 */
  オーバーフロー: 表示;
}

/**
 * Edge、Firefox、IE でのテキスト変換の継承を削除します。
 * 1. Firefox のテキスト変換の継承を削除します。
 */

ボタン、
選択 { /* 1 */
  テキスト変換: なし。
}

/**
 * iOS および Safari でクリック可能なタイプのスタイルを設定できない問題を修正。
 */

ボタン、
[type="ボタン"],
[タイプ="リセット"]、
[type="送信"] {
  -webkit-外観: ボタン;
}

/**
 * Firefox で内側の境界線とパディングを削除します。
 */

button::-moz-focus-inner、
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  境界線のスタイル: なし。
  パディング: 0;
}

/**
 * 以前のルールで設定解除されたフォーカス スタイルを復元します。
 */

ボタン:-moz-focusring、
[type="button"]:-moz-focusring、
[type="reset"]:-moz-focusring、
[type="submit"]:-moz-focusring {
  アウトライン: 1 ピクセルの点線の ButtonText;
}

/**
 * Firefox のパディングを修正します。
 */

フィールドセット {
  パディング: 0.35em 0.75em 0.625em;
}

/**
 ※1.EdgeとIEの文字の折り返しを修正しました。
 * 2. IE の `fieldset` 要素からの色の継承を修正。
 * 3. 開発者がゼロアウトしたときにバレないようにパディングを削除します。
 * すべてのブラウザの `fieldset` 要素。
 */

伝説 {
  ボックスのサイズ設定: ボーダーボックス; /* 1 */
  色: 継承; /* 2 */
  表示: テーブル; /* 1 */
  最大幅: 100%; /* 1 */
  パディング: 0; /* 3 */
  ホワイトスペース: 通常; /* 1 */
}

/**
 * Chrome、Firefox、Opera に正しい垂直方向の配置を追加します。
 */

進捗 {
  垂直整列: ベースライン;
}

/**
 * IE 10 以降のデフォルトの垂直スクロールバーを削除します。
 */

テキストエリア {
  オーバーフロー: 自動;
}

/**
 * 1. IE 10 で正しいボックス サイズを追加します。
 ※2.IE10ではパディングを削除します。
 */

[type="チェックボックス"],
[type="ラジオ"] {
  ボックスのサイズ設定: ボーダーボックス; /* 1 */
  パディング: 0; /* 2 */
}

/**
 * Chrome の増分ボタンと減分ボタンのカーソル スタイルを修正しました。
 */

[type="number"]::-webkit-inner-spin-button、
[type="number"]::-webkit-outer-spin-button {
  高さ: 自動;
}

/**
 ※1. Chrome、Safariでの表示がおかしいのを修正。
 ※2.Safariのアウトラインスタイルを修正。
 */

[type="検索"] {
  -webkit-外観: テキストフィールド; /* 1 */
  アウトラインオフセット: -2px; /* 2 */
}

/**
 * macOS 上の Chrome および Safari で内側のパディングを削除します。
 */

[type="search"]::-webkit-search-decoration {
  -webkit の外観: なし。
}

/**
 * 1. iOS および Safari でクリック可能なタイプのスタイルを設定できない問題を修正します。
 * 2. Safari でフォントのプロパティを「継承」に変更します。
 */

::-webkit-file-upload-button {
  -webkit-外観: ボタン; /* 1 */
  フォント: 継承; /* 2 */
}

/* 相互の作用
   ================================================= ======================== */

/*
 * Edge、IE 10以降、Firefoxでの正しい表示を追加しました。
 */

詳細 {
  表示ブロック;
}

/*
 ※全てのブラウザで正しい表示を追加しました。
 */

まとめ {
  表示: リスト項目;
}

/* その他
   ================================================= ======================== */

/**
 ※IE10以降での正しい表示を追加しました。
 */

テンプレート {
  表示: なし。
}

/**
 ※IE10での正しい表示を追加しました。
 */

[隠れた] {
  表示: なし。
}