body {
  color: #c1a770;
  background-color: rgb(1, 25, 44);
}
img {
  max-width: 100%;
  height: auto;
}
body {
  font-family: 'M PLUS Rounded 1c','Noto Serif JP', sans-serif ;
}

css-1tsdlth{
  margin-top: -10px;
  display: block;
 }


css-1bel01{
  width: 100%;
  background: #000;
}

css-1tivvh3{
  display: block;
  margin: auto;
  margin-bottom: 20px;
}

a{
text-decoration: none;
  color: #fff;
}

