body {
    font-family: "Avenir Next";
  }
  
  li {
    list-style: none;
  }
  
  .header {
    background-color: #ffad31;
    color: #fff;
    height: 90px;
  }
  
  .header-logo {
    float: left;
    font-size: 36px;
    padding: 20px 40px;
  }
  
  .header-list li {
    float: left;
    padding: 33px 20px;
  }
  
  .main {
    padding: 100px 80px;
  }
  
  .copy-container h1 {
    font-size: 140px;
  }
  
  .copy-container h2 {
    font-size: 60px;
  }
  
  .copy-container span {
    color: #ffcf4c;
  }
  
  .contents1 {
    height: 500px;
    margin-top: 100px;
  }
  
  .section-title {
    border-bottom: 15px solid #ffae00;
    font-size: 28px;
    padding-bottom: 15px;
    margin-bottom: 50px;
  }
  .sample{
    width:"300";
    height:"300";
  }
  
  .contents-item {
    margin-right: 40px;
  }
  
  .contents-item p {
    font-size: 24px;
    margin-top: 30px;
  }
  
  .contact-forms {
    padding-top: 500;
  }
  
  /* inputとtextareaのCSSを指定してください */
  input, textarea {
    width: 500px;
    margin-top:10px;
    margin-bottom:30px;
    padding:20px;
    font-size:18px;
    border:1px solid #dee7ec;
  }
  
  /* contact-submitのCSSを指定してください */
  .contact-submit {
    background-color:#ffbf60;
    color:#ffffff;
  }
  
  .footer {
    background-color: #ffad36;
    color: #fff;
    height: 120px;
    padding: 40px;
  }
  
  .footer-logo {
    float: left;
    font-size: 32px;
  }
  
  .footer-list {
    float: right;
  }
  
  .footer-list li {
    padding-bottom: 20px;
  }

  img{
    width: 300px;
    height: 300px;
    object-fit: contain;
  }

