* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

header {
  background-color: #f0f0f0;
}

.profile_top {
  height: 500px;
  text-align: center;
  display: inline-block;
}

.profile_top img {
  width: auto;
  height: 100%;
  display: inline-block;
}

.profile_top h1ã€€{

  line-height: 500px;
  color: #353535;
  display: inline-block;
  vertical-align: top;
  margin: 0 30px;
}


.profile_about {
  background-color: #ffe53a;
  padding: 100px 0px;
  text-align: center;
}

.profile_about h2 {
  font-size: 36px;
}

.profile_about_content p{
  margin-top: 40px;
  font-size: 16px;
}

.profile_favorite {
  background-color: darksalmon;
  padding:100px;
  text-align: center;

}

.profile_favorite h2 {
font-size: 36px;
}

.profile_favorite_area {
  margin-top: 40px;
  width:400px ;
  display: inline-block;
}

.profile_favorite_area img {
  width: 400px;
  height: 300px;
  border-radius: 8px;
}

.profile_favorite_area p {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 400;
}

.profile_place {
  text-align: center;
  padding: 100px;
  background-color: #fff9e6;
  
}

.profile_place h2 {
  font-size: 36px;
  margin-bottom: 40px;
}

.profile_place h2 {
  font-size: 36px;
  margin-bottom: 40px;
}

.profile_place p {
  font-size: 16px;
  margin-top: 20px;
  text-align: center;
}

footer {
  height: 60px;
  line-height: 60px;
  background: #333333;
  font-size: 10px;
  text-align: center;
  color: #FFFFFF;
  
}

header h2{
  margin: 0 30px;
  line-height: 80px;
  font-size: 18px;
}
