.red {
  width: 30px;
  height: 30px;
  outline: 2px solid blue;
  background-color: skyblue;
  text-align: center;
  cursor: pointer;
  transition-duration: 0.4s;
}

.yellow {
  width: 30px;
  height: 30px;
  outline: 2px solid black;
  background-color: lightgray;
  text-align: center;
  cursor: pointer;
  transition-duration: 0.4s;
}
.rival {
  margin-top: 10px;
}
.papa {
  width: 10px;
  height: 10px;
  outline: 2px solid blue;
  background-color: skyblue;
  text-align: center;
  cursor: pointer;
  transition-duration: 0.4s;
}

.flex {
  display: flex;
  justify-content: space-between;
}
.kodomo {
    display: flex;
  justify-content: space-between;
  }